#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.cfg.xml
*.jar
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.iml
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
.idea/
.settings/
.classpath
.classpath/
.project
lib/
out/
PersonFromBojanov/
todo_REST/
.artifacts/
.artifacts
testBook.xls
read_me.pdf
